<div class="container mt-5 pt-2">
    <form class="form" [formGroup]="formGroup" (ngSubmit)="onEdit()">
      <img class="mx-auto d-block pr-5" style="display: block; width: 20%;" src={{imageSrc}}>
          <div class="form-row mx-auto align-items-center pt-3">
            <div class="form-group col-4" id="divName">
                <label><strong>Name</strong></label>
                <input type="text" name="name" placeholder="Enter a name" formControlName="name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form.name.errors }" />
                <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
                    <div *ngIf="form.name.errors.required">Name is mandatory</div>
                </div>
            </div>
            <div class="form-group col-4">
                <label><strong>CNPJ</strong></label>
                <input type="text" placeholder="00.000.000/0000-00" [textMask]="{mask: cnpj}" autocomplete="off" formControlName="cnpj" class="form-control" [ngClass]="{ 'is-invalid': submitted && (!verifyCNPJ || form.cnpj.errors) }"/>
                <div *ngIf="submitted && form.cnpj.errors" class="invalid-feedback">
                    <div *ngIf="form.cnpj.errors.required">CNPJ is mandatory</div>
                </div>
                <div *ngIf="submitted && (!verifyCNPJ && !form.cnpj.errors)" class="invalid-feedback">
                    <div *ngIf="!verifyCNPJ">Insert a valid CNPJ</div>
                </div>
            </div>
            <div class="form-group col-4">
                <label><strong>Company Name</strong></label>
                <input type="text" placeholder="Enter your company name" formControlName="razaoSocial" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form.razaoSocial.errors }" />
                <div *ngIf="submitted && form.razaoSocial.errors" class="invalid-feedback">
                    <div *ngIf="form.razaoSocial.errors.required">Company Name is mandatory</div>
                </div>
            </div>
            <div class="form-group col-4">
                <label><strong>Company Mission</strong></label>
                <input type="text" placeholder="Enter your company's mission" formControlName="missao" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form.missao.errors }" />
                <div *ngIf="submitted && form.missao.errors" class="invalid-feedback">
                    <div *ngIf="form.missao.errors.required">Company Mission is mandatory</div>
                </div>
            </div>
            <div class="form-group col-4">
                <label><strong>Company Vision</strong></label>
                <input type="text" placeholder="Enter your company's vision" formControlName="visao" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && form.visao.errors }" />
                <div *ngIf="submitted && form.visao.errors" class="invalid-feedback">
                    <div *ngIf="form.visao.errors.required">Company Vision is mandatory</div>
                </div>
            </div>
            <div class="form-group col-4">
                <label><strong>Allocated Employees</strong></label>
                <ng-select [ngClass]="{'is-invalid': submitted && form.funcionarios.errors}" ngSelectMat placeholder="Employess" [items]="users" [multiple]="true" [hideSelected]="true" [clearable]="false" bindLabel="name" formControlName="funcionarios" appendTo="body" required>
                </ng-select>
                <div *ngIf="submitted && form.funcionarios.errors" class="invalid-feedback">
                    <div *ngIf="form.funcionarios.errors.required">Alocate employees is mandatory</div>
                </div>
            </div>
          </div>
        <div class="form-row mx-auto align-items-center flex-column">
            <div class="text-center">
                <button class="btn btn-success mr-3">Confirm</button>
                <button *ngIf="!isEditing" class="btn btn-secondary" type="reset" (click)="onReset()">Reset</button>
            </div>
        </div>
    </form>
</div>

<!--style="overflow-y: auto; height:450px; width: auto;"-->